Source: ros-kilted-event-camera-tools
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-cmake-auto, ros-kilted-ament-cmake-black <!nocheck>, ros-kilted-ament-cmake-clang-format <!nocheck>, ros-kilted-ament-cmake-ros, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-event-camera-codecs, ros-kilted-event-camera-msgs, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-ros-environment, ros-kilted-rosbag2-cpp, ros-kilted-rosbag2-storage, ros-kilted-sensor-msgs, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-event-camera-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-event-camera-codecs, ros-kilted-event-camera-msgs, ros-kilted-rclcpp, ros-kilted-rclcpp-components, ros-kilted-rosbag2-cpp, ros-kilted-rosbag2-storage, ros-kilted-sensor-msgs, ros-kilted-ros-workspace
Description: package with ROS1 and ROS2 tools related to event_camera_msgs
