Source: ros-lyrical-event-camera-tools
Section: misc
Priority: optional
Maintainer: "Bernd Pfrommer" <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libopencv-dev, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-auto, ros-lyrical-ament-cmake-black <!nocheck>, ros-lyrical-ament-cmake-clang-format <!nocheck>, ros-lyrical-ament-cmake-ros, ros-lyrical-ament-cmake-test <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-event-camera-codecs, ros-lyrical-event-camera-msgs, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-ros-environment, ros-lyrical-rosbag2-cpp, ros-lyrical-rosbag2-storage, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/event_camera_tools/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-event-camera-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-dev, ros-lyrical-event-camera-codecs, ros-lyrical-event-camera-msgs, ros-lyrical-rclcpp, ros-lyrical-rclcpp-components, ros-lyrical-rosbag2-cpp, ros-lyrical-rosbag2-storage, ros-lyrical-sensor-msgs, ros-lyrical-ros-workspace
Description: package with ROS1 and ROS2 tools related to event_camera_msgs
